In [14]:
a,b,c=[int(x) for x in input("Entre 3 values : ").split()]
print(a+b+c)

Entre 3 values : 5 10 2
17

In [1]:
import datetime

In [6]:
datetime.date.today()

datetime.date(2019, 7, 28)

In [8]:
datetime.datetime.now()

datetime.datetime(2019, 7, 28, 21, 28, 40, 825162)

In [10]:
#Another way
from datetime import datetime
datetime.now()

datetime.datetime(2019, 7, 28, 21, 30, 53, 865699)

In [12]:
from datetime import date
date.today()

datetime.date(2019, 7, 28)

In [15]:
my_bday=date(1994,10,28)
my_bday

# HOw to shows the number of days 
print(date.today()-my_bday)

9039 days, 0:00:00

In [17]:
#if you add 100 days
hun_days=date.today()+datetime.timed

SyntaxError: invalid syntax (<ipython-input-17-9b404d6bbe90>, line 2)

In [19]:
my_family=["me","mom","dad","sonu"]
print(my_family.extend([1,2,3,4]))
print(my_family.reverse())
print(my_family.insert(3,"Sears"))
print(my_family.index("dad"))
print(my_family)

None
None
None
6
[4, 3, 2, 'Sears', 1, 'sonu', 'dad', 'mom', 'me']

In [11]:
def wish(name):
    print("Good Morning",name)
    print("Sorry")
wish("sonu")

Good Morning sonu
Sorry

In [16]:
def square (x):
    print ("the square of is {}:{}".format(x,x*x))
square(10)
square(20)

the square of is 10:100
the square of is 20:400

In [21]:
def  add (a,b):
    return a+b
result =add(10,20)
print("The sum is :",result)
print("The sum is :",add(30,20))

The sum is : 30
The sum is : 50

In [23]:
def even_odd(n):
    if n%2==0:
        print("The number is even number: ",n)
    else:
        print("The number is odd number: ",n)
even_odd(10)
even_odd(21)

The number is even number:  10
The number is odd number:  21

In [27]:
def fact(n):
    result=1
    while n>=1:
        result=result*n
        n=n-1
    return result
print(fact(2))

2

In [29]:
for i in range (1,6):
    print("The factoria of {}is :{}".format(i,fact(i)))

The factoria of 1is :1
The factoria of 2is :2
The factoria of 3is :6
The factoria of 4is :24
The factoria of 5is :120

In [31]:
def cal (a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return sum,sub,mul,div
t=cal(100,50)
print("The result are :")
for i in t:
    print(i)

The result are :
150
50
5000
2.0

In [1]:
def wish(name,msg):
    print("Hello",name,msg)
wish(name="gopal",msg="Good morning")

Hello gopal Good morning

In [9]:
def sum(*n):
    result=0
    for i in n:
        result=result+i
    print(result)
sum()
sum(10)
sum(10,20,22)
sum(10,20,45,54)

0
10
52
129

In [15]:
def sum(name="dikshu",*n):
    result=0
    for i in n:
        result=result+i
    print(name,":" ,result)
sum("Gopal")
sum("sonu",10)
sum("dadu",10,20,22)
sum("monu",10,20,45,54)
sum()

Gopal : 0
sonu : 10
dadu : 52
monu : 129
dikshu : 0

In [4]:
def f1(n1,*s):
    print(n1)
    for s1 in s:
        print(s1)
f1(10)
f1(10,20,30,40)

10
10
20
30
40

In [9]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,".........",v)
display(n1=10,n2=30,n3=45)
display(name="Gopal",EmpID="1297180",bikename="FZs")

n1 ......... 10
n2 ......... 30
n3 ......... 45
name ......... Gopal
EmpID ......... 1297180
bikename ......... FZs

In [4]:
def fatorial (n):
    if n==0:
        result=1
    else:
        result=n*fatorial(n-1)
    return result
print("The fact of given number", fatorial(0))
print("The fact of given number", fatorial(4))
print("The fact of given number", fatorial(5))

The fact of given number 1
The fact of given number 24
The fact of given number 120

In [10]:
def square (n):
    return n*n
print(square(4))
print(square(16))

16
256

In [13]:
s=lambda n:n*n
print("The square of given numner is :",s(5))
print("The square of given numner is :",s(6))
print("The square of given numner is :",s(7))

The square of given numner is : 25
The square of given numner is : 36
The square of given numner is : 49

# Filter
## Syntax===>  filter(function,sequence)

In [1]:

l=[0,50,10,15,20,25,30,35,40,45,50]
l1=list(filter(lambda x:x%2==0,l))
print(l1)

[0, 50, 10, 20, 30, 40, 50]

In [4]:
def iseven(x):
    if x%2==0:
        return True
    else:
        return False
l=[31,26,35,93,12,10,40,50,71]
print(type(filter(iseven,l)))
l2=list(filter(iseven,l))

print(l2)

<class 'filter'>
[26, 12, 10, 40, 50]

In [8]:
l1=[1,2,3,4,5]
l2=[10,20,30,40,50]
l3=[10,10,10,10,10]
l3=list(map(lambda x,y,z:x*y*z,l1,l2,l3))
print(l3)

[100, 400, 900, 1600, 2500]

In [11]:
tupleex=([1,2],[3,4],[5,6],[7,8],[9,10])
print(type(tupleex))
tupleex[0][1]=10
tupleex[2][0]=500
print(tupleex)

<class 'tuple'>
([1, 10], [3, 4], [500, 6], [7, 8], [9, 10])

In [14]:
Tuple_new=({"name":"Gopal","age":24},["gary",25,"USA"],"sonu")
Tuple_new[0]["name"]="Laddu"
print(Tuple_new)

({'name': 'Laddu', 'age': 24}, ['gary', 25, 'USA'], 'sonu')

In [22]:
infile=open(r"C:\Users\Mangesh Patil\Desktop\practice.txt")

content=infile.read()
print(content)

Today is my day.
Yes..! Ican do.
Failure is my motivation .

In [25]:
infile=open(r"C:\Users\Mangesh Patil\Desktop\practice.txt")
outfile=open(r"C:\Users\Mangesh Patil\Desktop\new.txt","w")
content=infile.read()
print(content)
outfile.write(content)
outfile.close()
print(outfile)

Today is my day.
Yes..! Ican do.
Failure is my motivation .

<_io.TextIOWrapper name='C:\\Users\\Mangesh Patil\\Desktop\\new.txt' mode='w' encoding='cp1252'>

In [4]:
employee = dict()
employee[1] = 1
employee[2] = 1
employee[1] += 4
employee[2] += 3
employee[1] += 9
 
print(employee)

{1: 14, 2: 4}

In [5]:
string = 'this is sample is string is this'
all_words = string.split()
counter=dict()
for i in all_words:
    if i in counter:
        counter[i] +=1
    else:
        counter[i] =1
print(counter)

{'this': 2, 'is': 3, 'sample': 1, 'string': 1}

In [6]:
number=11123234551
counter=dict()
for i in str (number):
    if i in counter:
        counter[i] +=1
    else:
        counter[i]=1
print(counter)

{'1': 4, '2': 2, '3': 2, '4': 1, '5': 2}

In [14]:
counter=1
number=int(input("Entere a number:"))
while number >= counter:
    print("counter  : %d" %(number))
    number -= 1
else:
    print("All Above are natural numbers")

Entere a number:12
counter  : 12
counter  : 11
counter  : 10
counter  : 9
counter  : 8
counter  : 7
counter  : 6
counter  : 5
counter  : 4
counter  : 3
counter  : 2
counter  : 1
All Above are natural numbers

In [19]:
start , end = 1, 15
while start < end:
    if start %2 == 0:
        print("Even number : %d" %(start))
    start +=1
else:
    print("All above are Odd number ....")

Even number : 2
Even number : 4
Even number : 6
Even number : 8
Even number : 10
Even number : 12
Even number : 14
All above are Odd number ....

In [23]:
counter=1
number=int(input("Entre number : "))
while counter <=10:
    if number%2!=0:
        print("odd number : %d" %(number))
        counter+=1
    number+=1

Entre number : 12
odd number : 13
odd number : 15
odd number : 17
odd number : 19
odd number : 21
odd number : 23
odd number : 25
odd number : 27
odd number : 29
odd number : 31

In [22]:
counter = 1
number = int(input('Enter a number: '))
 
while counter <= 10:
    if number % 2 == 1:
        print('odd Number: %d' %(number))
        counter += 1
    number += 1

Enter a number: 12
odd Number: 13
odd Number: 15
odd Number: 17
odd Number: 19
odd Number: 21
odd Number: 23
odd Number: 25
odd Number: 27
odd Number: 29
odd Number: 31

In [34]:
counter, end = 65, 65+26
while counter < end:
    print(chr(counter), end=' ')
    if counter > 89:
        break
    counter += 1
else:
    print('This wont execute as we are breaking intentionally from loop..')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [43]:
counter,end = 50, 50+26
while counter < end:
    print(chr(counter),end =" ")
    if counter > 89:
        break
    counter +=1
else:
    print("")

2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K

In [47]:
for i in range(5):
    print(i,sep=",",end="\n")

0
1
2
3
4

In [46]:
for i in range(10):
    print(i, sep = ',' , end='\n')

0
1
2
3
4
5
6
7
8
9

In [49]:
for i in "PYTHON":
    print(i, end=",")

P,Y,T,H,O,N,

In [51]:
for i in {'Python', 'Java', 'Selenium'}:
    print(i, end=",")

Java,Selenium,Python,

In [55]:
 for i in {1:'Python', 2:'Java', 3:'Selenium'}:
    print(i)

1
2
3

In [60]:
number = int(input('Enter a number : '))
for i in range(1, number+1):
    print(i, end=',')

Enter a number : 5
1,2,3,4,5,

In [61]:

for i in reversed(range(1, number+1)):
    print(i, end=',')

5,4,3,2,1,

In [62]:
for i in range(65, 65+26):
    print(chr(i), end=',')

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [63]:
for i in range(2, 100, 2):
    print(i, end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [65]:

for i in range(1, 100, 2):
    print(i, end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [68]:
import requests
 
url = 'https://www.quandl.com/api/v3/datasets/BSE/BOM504067.json?api_key=fKXsYh9Qi9ySbS8X6pNh'
 
content = requests.get(url).text
dataset = json.loads(content)
print(dataset['dataset']['data'])

AttributeError: 'int' object has no attribute 'loads'

In [7]:
l=[10,20,40,50]
i=0
for x in l:
    if x%2==1:
        
        print(x,end=" ")

In [2]:
list=[1,2,3,4,5,6,7,8,9]
i=0
while i<len(list):
    print(list[i],end= " ")
    i+=1

1 2 3 4 5 6 7 8 9

In [19]:
list=["a","b","c","d"]
print(list.count("a"))
print(list.index("d"))
print(list.insert(4,"f"))
print(list)
print(len(list))
for i in range(len(list)):
    print(list[i] ,"is availbale at postive index :" ,i,"and -ve index: ",(i-len(list)))

1
3
None
['a', 'b', 'c', 'd', 'f']
5
a is availbale at postive index : 0 and -ve index:  -5
b is availbale at postive index : 1 and -ve index:  -4
c is availbale at postive index : 2 and -ve index:  -3
d is availbale at postive index : 3 and -ve index:  -2
f is availbale at postive index : 4 and -ve index:  -1

In [17]:
help(list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [21]:
l=[]
for x in range(101):
    if x%20==0:
        l.append(x)
print(l)

[0, 20, 40, 60, 80, 100]

In [24]:
l1=[10,20,30,40,50,60,70,80]
x=int(input("Entre element want to removed : "))
for x in l1:
    l1.remove(x)
    print("Removed element successfully")
    print(l1)

Entre element want to removed : 80
Removed element successfully
[20, 30, 40, 50, 60, 70, 80]
Removed element successfully
[20, 40, 50, 60, 70, 80]
Removed element successfully
[20, 40, 60, 70, 80]
Removed element successfully
[20, 40, 60, 80]

In [37]:

l1=[10,20,30,40,50,60,70,80]

print(l1.remove(70))
print(l1.reverse())
print(l1)

None
None
[80, 60, 50, 40, 30, 20, 10]

In [30]:
print(l1.reverse())

None

In [48]:
l1=[10,20,30,40,5,2,0,50,60,70,80]
l1.sort(reverse=False)
print(l1)

[0, 2, 5, 10, 20, 30, 40, 50, 60, 70, 80]

In [49]:
x=[50,20,30]
y=[40,20,30,50,90,70]
print(x>y)

True

In [60]:
x=[[10,20,30],[40,50,60],[70,80,90]]
for i in range(len(x)):
    for j in range(len(x[i])):
        print(x[i][j],end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [4]:
l=[x**x for x in range(1,11) if (x**x%2!=0)]
print(l)

[1, 27, 3125, 823543, 387420489]

In [7]:
words=["Gopal","Sopu","lewa","Rudghabhai"]
l=[w for w in words if len(w)>5]
print(l)

['Rudghabhai']

In [9]:
n1=[10,20,30,40,50]
n2=[60,70,80,90,100]
n3=[x for x in n1 if x not in n2]
print(n3)

[10, 20, 30, 40, 50]

In [15]:
Words="Ramayn hi ek satya katha ahe".split()
l=[ [w.upper(),len(w)]for w in Words]
print(l)

[['RAMAYN', 6], ['HI', 2], ['EK', 2], ['SATYA', 5], ['KATHA', 5], ['AHE', 3]]

In [5]:
l="012345679"
l[:-3:-1]
print(l)

012345679