# List

In [ ]:
#Creation of list object

list=[]    #empty list
print(type(list))

In [ ]:
List=[10,20,30,40]
print(List)

In [ ]:
#with dynamic input
List=eval(input("Entre list :"))
print(List)

In [ ]:
#with list function
l=list(range(0,10,2))
print(l)
print(type(l))

In [ ]:
#with spli function

S="Learning python is very easy"
l=S.split()
print(l)
print(type(l))

##### Accessing element  of list

In [ ]:
#by using index

list=[10,20,30,40]
print(list)

print(list[0])
print(list[1])
print(list[2])
print(list[3])

In [ ]:
#by using slice operator
#Syntax  :  list2=list1[start:stop:step]

n=[1,2,3,4,5,6,7,8,9,10]
print(n)

print(n[2:7:2])
print(n[0:7:2])
print(n[2:7])
print(n[2::2])
print(n[3:])
print(n[:7:2])

In [ ]:
#List vs mutability
#once we create list object we can modiufy its content Hence list object asre mutable

n=[10,20,30,40]
print(n)
n[1]=777
n[3]=100
n[0]="Gopasl"
print(n)

In [ ]:
#Traversing of list element 
#By using the while loop


n=[1,2,3,4,5,6,7,8,9,10]
i =0
while i<len(n):
    print(n[i])
    i+=1

In [ ]:
#By using for loop
n=[0,1,2,3,4,5,6,7,8,9,10]
for n1 in n:
    print(n1)

In [ ]:
#To display only even number 
n=[0,1,2,3,4,5,6,7,8,9,10]
for n1 in n:
    if n1%2==0:
        print(n1)

### important functions of list

In [ ]:
# to get information about list

#1.len()

n=[10,20,45,35,5]
print(len(n))


#count()

n=[1,1,1,3,3,3,4,4,4,5,5,55,5,55,5]
print(n.count(5))

#index

n=[1,1,1,3,3,3,4,4,4,5,5,55,5,55,5]
print(n.index(55))

In [ ]:

# append()
list=[]
list.append("Gopal")
list.append("Python")
list.append("india")
list.append("Delhi")
print(list)

In [ ]:
list=[]
for i in range(101):
    if i%10==0:
        list.append(i)
print(list)

In [ ]:
#insert

n=[1,2,3,4,5]
n.insert(1,88)
print(n)



n=[1,2,3,4,5]
n.insert(3,100)
print(n)

In [ ]:
#extend
#l1.extend(l2)

list1=["Gopal", "India","Goa"]
list2=[12,3,4,5]

list1.extend(list2)
print(list1)

In [ ]:
#remove function

list2=[12,3,4,5]
list2.remove(4)

print(list2)

In [ ]:
#Pop fucntion
list1=[12,3,4,5]
print(list1.pop())
print(list1)

In [ ]:
#orderning of element

#1. reverse()

n=[10,2,30,45]
n.reverse()
print(n)

In [ ]:
#2. Sort function
n=[10,2,30,45]
n.sort()
print(n)

In [ ]:
list1=["Gopal", "India","Goa"]
list1.sort()
print(list1)

In [ ]:
n=[10,2,30,45]
n.sort(reverse=True)
print(n)

In [ ]:
n=[10,2,30,45]
n.sort(reverse=False)
print(n)

### Alising and cloning of list objects

In [ ]:
#Alising and cloning of list objects
x=[10,20,46,90]
print(x)
y=x
print(id(x))
print(id(y))

In [ ]:
x=[10,20,46,90]
y=x
y[1]=777
print(x)

In [ ]:
#copy
x=[1,3,4,5,6,7]
y=x.copy()
y[1]=777
print(x)
print(y)

In [ ]:
#clear

n=[10,20,30,40]
print(n)


n.clear()
print(n)

## List Comprehensions

#### it is very easy and compact way of creating list objects from any iterable objects like list , tiple ,dict, range etc based on some condtion

### Syntax:     list[expression for item in list if condiotn]

In [ ]:
L= [x*x for x in range (1,11)]
print(L)

In [ ]:
L1=[y**2 for y in range (1,6)]
print(L1)

In [ ]:
L= [x*x for x in range (1,11)]
print(L)
L3=[x for x in L if x%2==0]
print(L3)

In [ ]:
num1=[10,20,30,50,67,90]
num2=[40,30,50,90,32,45,66,80]
num3=[i for i in num1 if i not in num2]
print(num3)