In [ ]:
a,b,c=[eval (x) for x in input("Entre the three values:  ").split(" ")]

product=a*b*c
print(product)

if (product %2 ==0):
    print("The given product have returning even value ...")
else:
    print("The given product have returning odd value....")

Entre the three values:  13

In [17]:
print("Hello", end=" ")
print("welcome",end=" ")
print("pyrthon ",end=" ")
print("guru", end=" ")

Hello welcome pyrthon  guru

In [27]:

print(10,20,30,40,50,sep=":",end="........")
print(10,20,30,50 ,sep="-")

10:20:30:40:50........10-20-30-50

In [28]:
a,b,c=10,20,30
print("The first value is %i "%(a))
print("The first value is %i "%(a))

The first value is 10

In [31]:
name="Gopal"
list=[10,20,30,40,50]
print("The  fisrt output is %s and second output is %s"%(name,list))

The  fisrt output is Gopal and second output is [10, 20, 30, 40, 50]

In [33]:
name="Gopal"
salary=1532153
GirlFriend="Sampriti"
print("My name is {0} and having current salary is {1} and my GF is {2}".format(name,salary,GirlFriend))

My name is Gopal and having current salary is 1532153 and my GF is Sampriti

In [35]:
name="Gopal"
salary=1532153
GirlFriend="Sampriti"
print("My name is {0} and having current salary is {2} and my GF is {1}".format(name,salary,GirlFriend))

My name is Gopal and having current salary is Sampriti and my GF is 1532153

In [13]:
x=1
while x in range(20):
    if x%2==0:
        print(x)
    x+=1

2
4
6
8
10
12
14
16
18

In [26]:
n=int(input("Entre a number : ")) 
 
sum=0
i=1

while i <= n:
    sum+=1
    i+=1
print("The sum of" ,n," number :",sum)

Entre a number : 2
The sum of 2  number : 2

In [ ]:
name=""
pwd=""
while (name != "Gopal") or (pwd!="Python"):
    name=input("entre name :") 
    name=input("entre pwd :")
    
print("welcome")

entre name :Gopal
entre pwd :Python
entre name :Gopal
entre pwd :python
entre name :Gopal
entre pwd :Python
entre name :Gopal
entre pwd :Python

In [2]:
n=int(input("Entre number of rows : "))

for i in range(1,n+1):
    
    for j in  range(1,i+1):
        print("*", end="")
        
    print()

Entre number of rows : 5
*
**
***
****
*****

In [8]:
s="Ramayan"
print(s[:])

Ramayan

In [11]:
s="Welcome to the world."
i=0
for x in s:
    i+=1
    print("The character present at positive index:{} and at negative index :{} is {}".format(i,i-len(s),x))

The character present at positive index:1 and at negative index :-20 is W
The character present at positive index:2 and at negative index :-19 is e
The character present at positive index:3 and at negative index :-18 is l
The character present at positive index:4 and at negative index :-17 is c
The character present at positive index:5 and at negative index :-16 is o
The character present at positive index:6 and at negative index :-15 is m
The character present at positive index:7 and at negative index :-14 is e
The character present at positive index:8 and at negative index :-13 is
The character present at positive index:9 and at negative index :-12 is t
The character present at positive index:10 and at negative index :-11 is o
The character present at positive index:11 and at negative index :-10 is
The character present at positive index:12 and at negative index :-9 is t
The character present at positive index:13 and at negative index :-8 is h
The character present at positive index:14 and at negative index :-7 is e
The character present at positive index:15 and at negative index :-6 is
The character present at positive index:16 and at negative index :-5 is w
The character present at positive index:17 and at negative index :-4 is o
The character present at positive index:18 and at negative index :-3 is r
The character present at positive index:19 and at negative index :-2 is l
The character present at positive index:20 and at negative index :-1 is d
The character present at positive index:21 and at negative index :0 is .

In [26]:
number= "01236476547"
print(number[0:3])

012

In [6]:
s=input("Entre some string :")

n =len(s)
i=0
print("Data in forword direction")

while i < n:
    print(s[i],end=" ")
    i+=1

print()
i=n-1
while i>=0:
    print(s[i],end=" ")
    i-=1

Entre some string :Ramayana
Data in forword direction
R a m a y a n a
anayamaR

In [4]:
s="durgadurgadurgasoftdurgasoftdurga"
print(s.rfind("soft"))

24

In [8]:
s="Ramayan By Walmiki"
print(s.rindex("y"))

9

In [5]:
a="asdaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbaaaaaaaaaaaaaaaavvvvvvvvaaaaaaaaaaaa"
print(a.count("a"))
print(a.count("a",18,len(a)))

48
32

In [6]:
a="adasddaaaaasdasdas"
print(a.replace("a","z"))

zdzsddzzzzzsdzsdzs

In [8]:
a="fdfd fafd asfdiakaai"
print("-".join(a))

f-d-f-d- -f-a-f-d- -a-s-f-d-i-a-k-a-a-i

In [22]:
s="adaa12dsd8d8dd81dasd45s"
print(s.istitle())

False

In [29]:
s=input("Entre any string: ")
if s.isalnum():
    print("Alpha numric charchacter")
    if s.isalpha():
        print("Alpha betic chr")
        if s.islower():
            print("it is lower case char")
        else:
            print("upper")

Entre any string: a
Alpha numric charchacter
Alpha betic chr
it is lower case char

In [34]:
name="Durga"
Age=35
Salary=10000
print("The {}'s Age is {} and his salry is {} ".format(name,Age,Salary))

The Durga's Age is 35 and his salry is 10000

In [35]:
name="Durga"
print("".join(reversed(name)))

agruD

In [41]:
s=input("Entre the string: ")
print("The charcters at even position :", s[::2])
print("The charcters at even position :", s[1::2])

Entre the string: Mangesh
The charcters at even position : Mneh
The charcters at even position : ags

In [1]:
s=input("Entre the string : ")

i=0
print("The characters at even postion : ")

while i< len(s):
    print(s[i],end="-")
    i+=2
    
print() 

i=1
print("The characters at odd  postion : ")
while i< len(s):
    print(s[i],end="-")
    i+=2

Entre the string : Ramayan
The characters at even postion :
R-m-y-n-
The characters at odd  postion :
a-a-a-

In [11]:
s=input("Entre the string : ")
print("The characters at even position:")
for i in range(len(s)):
    
    if i%2==0:
        print(s[i],end=",")

print()
        
print("The characters at odd position:")
for i in range(len(s)):
    
    if i%2==1:
        print(s[i],end=",")

Entre the string : Ramayan
The characters at even position:
R,m,y,n,
The characters at odd position:
a,a,a,

In [2]:
s=input("Entre the string : ")
s1=s2=output=""
for x in s:
    if x.isalpha():
        s1+=x
    else:
        s2+=x
for x in sorted(s1):
    output+=x

for x in sorted(s2):
    output+=x
print(output)

Entre the string : Ra12aa1r2f1a5r
Raaaafrr111225

In [4]:
exa_lamda=lambda x: x*2
print(exa_lamda(5))

10

In [12]:
my_list=[10,20,30,13,7,9,40,50,60]
new_list=list(filter(lambda x: (x%2==0),my_list))
print(my_list)
print(new_list)

[10, 20, 30, 13, 7, 9, 40, 50, 60]
[10, 20, 30, 40, 50, 60]