In [ ]:
import pandas as pd
df=pd.read_csv('"C:\Users\Gopal Chavan\Documents\Book1.csv")

# Pandas

In [ ]:
import pandas as pd
import numpy as np

#series

s1=pd.Series("Python",index=("Course",))  #string
s2=pd.Series(["Python","Java","Selenium"],index=("Course1","Course2","Course3"))  #list
s3=pd.Series(("Python","Java","Selenium"),index=("Course1","Course2","Course3"))  #tuple
s4=pd.Series({"Course1":"Python","Course2":"Java","Course4":"Selenium"},index=("Course1","Course2","Course3"))  #Dict
s5=pd.Series(np.array([1,2,3]),index=("Course1","Course2","Course3"))

print(s2,"\n")
print(s3,"\n")
print(s4,"\n")
print(s5)

In [ ]:
import pandas as pd

#Series using data structure

data=[["jatin",35], ["Gopal",24],["Vijay",30]]
s1=pd.Series(data, index=("employee1","employee2","employee3"))

data=[{"name":"jatin", "age":35}, {"name":"Gopal","age":24},{"name":"Vijay","age":30}]

s2=pd.Series(data,index=("employee1","employee2","employee3"))

print(s1,"\n")
print(s2)

In [ ]:
dataset= {"Delhi":1000 ,"Pune":900, "Mumbai":2000,  "Chennai":1500  ,"Dhule":None }
            
cities=pd.Series(dataset)

print(cities.sum())
print(cities.mean())
print(cities.max())
print(cities.min())
print(cities.std())
print(cities.var())
print(cities[cities.isnull()])
print("Delhi" in cities)

In [ ]:
dataset= {"Delhi":1000 ,"Pune":900, "Mumbai":2000,  "Chennai":1500  ,"Dhule":None }
            
cities=pd.Series(dataset)


print(cities)
print(cities.sum())
print(cities.mean())
print(cities.max())
print(cities.min())
print(cities.std())
print(cities.var())
print(cities[cities.isnull()])
print("Mumbai" in cities)

In [ ]:
import pandas as pd

dataset=  {"Team": ["India","Austrelia"], "Win":[427,450],
            "Loss":[102,121], "Tie":[7,22]}

df1=pd.DataFrame(dataset,index=("Team1","Team2"))


print(df1)
print()


print(df1["Team"])
print()

print(df1.Team)
print()


#Add new coloumn

df1["TotalMatches"]= df1["Win"] + df1["Loss"]  +df1["Tie"]

In [ ]:
import pandas as pd

dataset=[["India",100],  ["Aus" ,200],  ["SA",300]]


df1=pd.DataFrame(dataset,columns=["Team","Win"])



print(df1)
print()

In [ ]:
import pandas as pd

zensar = pd.read_csv("BSE-BOM504067.csv")
zensar["Year"]= pd.to_datetime(zensar.Date).dt.year

print(zensar[zensar["Year"] ==2019]["Close"].mean())

#print(zensor[["Date", "Year"]])

In [ ]:
import pandas as pd
import quandl

dataset=quandl.get("BSE/BOM504067", authtoken="")
dataset["Date"]=pd.to_datetime(dataset.index)
dataset["Year"]=dataset["Date"].dt.year

print(dataset[dateset["Year"]==2019]["Close".mean()])

In [ ]:
import pandas as pd

retings= pd.read_csv("ml-lmratings.dat",sep= "::"),names=["userid","movieid","rating"],usecols=[0,1,2],

In [ ]:
import pandas as pd

ratings = pd.read_csv ("")